---
import LinkCard from "@/components/LinkCard.astro";
import Layout from "@/layouts/Layout.astro";
import { Link } from "astro:db";
import { db } from "astro:db";

const links = await db.select().from(Link);
---

<Layout>
  <div
    class="grid gap-6 grid-cols-[repeat(auto-fit,_minmax(280px,_1fr))] items-start"
  >
    {links.map((link) => <LinkCard link={link} />)}
  </div>
</Layout>